<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>需求管理平台</title>
    <base href="/demand-manager/pages">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/demand-manager/static/favicon.ico" />
  </head>
  <body>
    <app-root></app-root>
    <div class="ng-star-inserted" id="global-spin" style="position: absolute;left: 50%;top: 50%;">
      <div class="ant-spin ant-spin-spinning ant-spin-lg">
        <span class="ant-spin-dot ant-spin-dot-spin ng-star-inserted">
          <i class="ant-spin-dot-item"></i>
          <i class="ant-spin-dot-item"></i>
          <i class="ant-spin-dot-item"></i>
          <i class="ant-spin-dot-item"></i>
        </span>
        <div class="ant-spin-text ng-star-inserted">加载中...</div>
      </div>
    </div>
    <script src="/demand-manager/pages/polyfills-es5.js" nomodule defer></script>
    <script src="/demand-manager/pages/polyfills-es2015.js" type="module"></script>
    <script src="/demand-manager/pages/styles-es2015.js" type="module"></script>
    <script src="/demand-manager/pages/styles-es5.js" nomodule defer></script>
    <script src="/demand-manager/pages/runtime-es2015.js" type="module"></script>
    <script src="/demand-manager/pages/vendor-es2015.js" type="module"></script>
    <script src="/demand-manager/pages/main-es2015.js" type="module"></script>
    <script src="/demand-manager/pages/runtime-es5.js" nomodule defer></script>
    <script src="/demand-manager/pages/vendor-es5.js" nomodule defer></script>
    <script src="/demand-manager/pages/main-es5.js" nomodule defer></script>
  </body>
</html>
